body {
    
}

#loja {
    width: 50%;
}

.principal {
    background: #CCCCCC;
    padding: 20px;
}

.titulo-principal {
    padding-left: 20px;
}

 p {
            text-align: center;
}

#missao {
    font-size: 20px;
}

em strong  {
    color: red;
}

.titulo-centro {
    text-align: center;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}
