body {
    
}

#loja {
    width: 50%;
}

.principal {
    background: #CCCCCC;
}

 p {
            text-align: center;
}

#missao {
    font-size: 20px;
}

em strong  {
    color: red;
}

h1 {
    text-align: center;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
}

h2 {
    text-align: center;
}

.imagembeneficios {
    width: 50%;
}
